# Importing Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Importing Data set

In [2]:
path=r'C:\Users\swati\Instacart Basket Analysis'

In [3]:
# Import dataset 'orders_products_merged'
df_ords_prods_merged=pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_merged.pkl'))

# Deriving New Variables

### Create 'Price_label' Column

In [4]:
# Check the output
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [5]:
# Check Size of dataframe
df_ords_prods_merged.shape

(32404859, 14)

In [6]:
# Create a Subset
df=df_ords_prods_merged[:1000000]

In [7]:
df.shape

(1000000, 14)

### If- Statements with loc() function

In [9]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High range product'

In [10]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid range product'

In [11]:
df.loc[df['prices'] <=5, 'price_range_loc'] = 'Low range product'

In [12]:
df['price_range_loc'].value_counts(dropna=False)

Mid range product    756450
Low range product    243550
Name: price_range_loc, dtype: int64

In [13]:
# Use complete Dataset for above statements
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High range product'

In [14]:
df_ords_prods_merged.loc[(df_ords_prods_merged['prices'] <= 15) & (df_ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid range product'

In [15]:
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] <=5, 'price_range_loc'] = 'Low range product'

In [17]:
# Check frequency 
df_ords_prods_merged['price_range_loc'].value_counts(dropna=False)

Mid range product     21860860
Low range product     10126321
High range product      417678
Name: price_range_loc, dtype: int64

### Create 'busiest_day' Column

In [18]:
# Check frequency of 'order_day_of_week'
df_ords_prods_merged['orders_day_of_week'].value_counts(dropna=False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [19]:
# Create for-loop to check Busiest,least busy and regular busy day
result=[]

for value in df_ords_prods_merged['orders_day_of_week']:
  if value == 0:
    result.append('Busiest day')
  elif value == 4:
    result.append('Least busy')
  else:
    result.append('Regularly busy')

In [20]:
# create the 'busiest_day' column
df_ords_prods_merged['busiest_day'] = result

In [21]:
#Check the values for accuracy
df_ords_prods_merged[['orders_day_of_week', 'busiest_day']].head(10)

   orders_day_of_week     busiest_day
0                   2  Regularly busy
1                   3  Regularly busy
2                   3  Regularly busy
3                   4      Least busy
4                   4      Least busy
5                   2  Regularly busy
6                   1  Regularly busy
7                   1  Regularly busy
8                   1  Regularly busy
9                   4      Least busy

In [22]:
#Check the frequency
df_ords_prods_merged['busiest_day'].value_counts(dropna=False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [23]:
# Check size of dataframe
df_ords_prods_merged.shape

(32404859, 16)

### Create 'busiest_days' column

In [24]:
# Create for-loop to check two Busiest,least busy and regular busy days
result2=[]

for value in df_ords_prods_merged['orders_day_of_week']:
  if value == 0 or value == 1:
    result2.append('Busiest days')
  elif value == 3 or value == 4:
    result2.append('Least busy')
  else:
    result2.append('Regularly busy')

In [25]:
# create the 'busiest_days' column
df_ords_prods_merged['busiest_days'] = result2

In [26]:
#Check the frequency
df_ords_prods_merged['busiest_days'].value_counts(dropna=False)

Regularly busy    12916111
Busiest days      11864412
Least busy         7624336
Name: busiest_days, dtype: int64

In [27]:
# Check the values for accuracy
df_ords_prods_merged[['orders_day_of_week', 'busiest_days']].head(10)

   orders_day_of_week    busiest_days
0                   2  Regularly busy
1                   3      Least busy
2                   3      Least busy
3                   4      Least busy
4                   4      Least busy
5                   2  Regularly busy
6                   1    Busiest days
7                   1    Busiest days
8                   1    Busiest days
9                   4      Least busy

### Create 'busiest_period_of_day' column

In [28]:
# Check frequency of 'order_hour_of_day'
df_ords_prods_merged['order_hour_of_day'].value_counts()

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

From above output we can say that the 24 hours can divided in 3 sections , Most orders, Fewest orders ,Average orders

In [29]:
# create a for-loop to check Busiest period least busy and average busy period of day
result3=[]

for value in df_ords_prods_merged['order_hour_of_day']:
  if value in [10, 11, 14, 15, 13, 12, 16, 9]:
    result3.append('Most orders')
  elif value in [23, 6, 0, 1, 5, 2, 4, 3]:
    result3.append('Fewest orders')
  else:
    result3.append('Average orders')

In [30]:
# create the 'busiest_period_of_day' column
df_ords_prods_merged['busiest_period_of_day'] = result3

In [31]:
# Check the values for accuracy
df_ords_prods_merged[['order_hour_of_day', 'busiest_period_of_day']].head(10)

   order_hour_of_day busiest_period_of_day
0                  8        Average orders
1                  7        Average orders
2                 12           Most orders
3                  7        Average orders
4                 15           Most orders
5                  7        Average orders
6                  9           Most orders
7                 14           Most orders
8                 16           Most orders
9                  8        Average orders

In [32]:
# Check frequency of 'busiest_period_of_day'
df_ords_prods_merged['busiest_period_of_day'].value_counts()

Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: busiest_period_of_day, dtype: int64

In [34]:
#Check the output
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Least busy,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Regularly busy,Least busy,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid range product,Least busy,Least busy,Most orders

In [35]:
#Check the size of updated data set
df_ords_prods_merged.shape

(32404859, 18)

# Exporting Dataframe

In [36]:
# Export updated dataset'df_ords_prods_merged' to .pkl
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_update.pkl'))